/* .login-container {
  min-height: 100vh !important;
  background: linear-gradient(45deg, #8d0000, #44006b, #270164, #010433);
  background-attachment: fixed;
  animation: backgroundanimation 4s infinite ease;
  background-size: 500%;
} */
/* background-color: RGBA(33, 37, 41, var(--bs-bg-opacity, 1)) !important; */
.login-container {
  min-height: 100vh !important;
  /* background: linear-gradient(45deg, #8d0000, #44006b, #270164, #010433);
  background-attachment: fixed;
  animation: backgroundanimation 4s infinite ease;
  background-size: 500%; */
}

/* @keyframes backgroundanimation {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
} */
