@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --site-body-color: #e2e3e542;
  --site-body-color-compo: #ffffff;
  --site-nav-font: #D4D8DD;
  --color-purple: #7d3bdf;
  --nav-active-font-color: #ffffff;
  --nav-font-color: #8b8fa0;
  --active-nav-mesurement: 12px 8px 6px 8px;
  --nav-border-radius: 6px; 
  --quick-nav-border-radius: 4px;

  --site-theme-font-color: #ff4655;
  --site-theme-active-color: #44202e;
  --site-font-color: #ffffff;
  --site-nav-bacground: #2E4156;
  
  --site-btn-background: #1A2D42;
}

body {
  background-color: var(--site-body-color) !important;
  font-family: "Roboto", serif !important;
}

.table-header {
  background: var(--color-purple) !important;
  color: var(--nav-active-font-color);
}

.color-purple {
  color: var(--color-purple);
}

.user-info {
  background: var(--color-purple);
  color: var(--nav-active-font-color);
}

.dec-font-color {
  color: var(--site-theme-font-color);
}

.site-bg-compo {
  background-color: var(--site-body-color-compo) !important;
}

.nav-font-color {
  color: var(--nav-font-color) !important;
}

.active {
  background: var(--color-purple);
  padding: var(--active-nav-mesurement);
  color: var(--nav-active-font-color) !important;
  border-radius: var(--nav-border-radius);
}

.nav-list-item:hover {
  background: var(--color-purple);
  padding: var(--active-nav-mesurement);
  color: var(--nav-active-font-color) !important;
  border-radius: var(--nav-border-radius);
  cursor: pointer;
}

.active-quick-nav {
  background: var(--color-purple);
  color: var(--site-font-color);
  border-radius: var(--quick-nav-border-radius);
}

.quick-nav-item:hover {
  background: var(--color-purple);
  color: var(--site-font-color);
  border-radius: var(--quick-nav-border-radius);
  cursor: pointer;
}

.nab-bg {
  background: var(--site-nav-bacground);
  color: var(--site-nav-font);
}

.site-dash-border {
  border: dashed 0.5px;
}

.log-out {
  position: fixed;
  bottom: 10px;
  margin: 10px 30px;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.08); 
}

.unset {
  all: unset;
}

.site-btn {
  background-color: var(--site-btn-background) !important;
  color: var(--site-nav-font) !important;
}

::placeholder {
  color: #838181 !important; 
  opacity: 1;
}

.dt-dashboard-container {
  min-height: 100vh;
}

.menu-btn {
  all: unset;
  color: #aca9a9;
}

.nav-text-color {
  color: #aca9a9;
}

.mobile-nav-btn {
  all: unset;
  color: #aca9a9;
}

.nav-text-name {
  border: 1px solid #6a6868;
  padding: 5px 6px 5px 6px;
  border-radius: 5px;
  font-weight: 600;
}


.login-container {
  background: linear-gradient(180deg, #000000, #130F40, #000000);
}

.w-100px {
  width: 106px;
}

.po-container {
  background-color: #f7f9fa;
}

.add-new-line-btn {
  border: #aeb4b7 1px dashed !important;
}